@use '../scss/colors' as *;
@use '../scss/mixins' as *;
@use '../scss/shadows' as *;

button {
  all: unset;
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $border;
  border-radius: 4px;
  background-color: $surface;
  color: $textPrimary;
  padding: 0 10px;

  @include animateGlow($greenNeonShadow, $greenOutline);
}

.triggerOpen {
  box-shadow: $greenNeonShadow;
}

.selectTrigger[data-placeholder] {
  color: red;
}

.selectIcon {
  color: $textPrimary;
}

.selectContent {
  z-index: 1;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 6px;
}

.selectViewport {
  padding: 5px 0;
}

.selectItem {
  color: $textPrimary;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 25px;
  position: relative;
  user-select: none;

  &[data-highlighted] {
    @include animateGlow($greenNeonShadowSmall, $greenOutline, 0);
  }
}

.selectItemIndicator {
  position: absolute;
  left: 6px;
  color: $green;
}