@use '../scss/colors' as *;
@use '../scss/mixins' as *;
@use '../scss/shadows' as *;


.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $border;
  border-radius: 4px;
  background-color: $surface;
  color: $textPrimary;
  padding: 0 10px;

  @include animateGlow($greenNeonShadow, $greenOutline);

  &[data-state="open"] {
    box-shadow: $greenNeonShadow;
  }
}

.selectIcon {
  color: $textPrimary;
  padding-left: 10px;
}

.selectContent {
  z-index: 1;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 6px;
}

.selectViewport {
  padding: 5px 0;
}

.selectItem {
  color: $textPrimary;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 25px;
  position: relative;
  user-select: none;
  outline: none;

  &[data-highlighted] {
    @include animateGlow($greenNeonShadowSmall, $greenOutline, 0);
  }
}

.selectItemIndicator {
  position: absolute;
  left: 6px;
  color: $green;
}